@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,500;1,100;1,300;1,400;1,500&display=swap" rel="stylesheet");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

* a {
    text-decoration: none;
}

.max-width {
    max-width: 1300px;
    padding: 0px 70px;
    margin: auto;
}

/*Navbarstyle*/

nav.navbar {
    width: 100%;
}

.navbar {
    position: fixed;
    width: :100%;
    padding: 10px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
    z-index: 3;
}

.navbar.sticky {
    padding: 10px 0;
    background: crimson;
}

.navbar .max-width {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover {
    color: crimson;
}

.navbar.sticky .menu li a:hover {
    color: #fff;
}

.navbar .logo a span {
    color: #5b3c83;
}

.navbar.sticky .logo a span {
    color: #fff;
    transition: all 0.3s ease;
}

/*menu burger*/

.menu-btn {
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

/* home */

.home {
    display: flex;
    background: url("https://cdn.pixabay.com/photo/2017/03/25/17/55/colorful-2174045_960_720.png");
    background-size: cover;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    font-family: "Ubuntu", sans-sherif;
}

.home .max-width {
    margin: auto 0 auto 40px;
}

.home .home-content .text-1 {
    font-size: 27px;
}

.home .home-content .text-2 {
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content .text-3 {
    font-size: 40px;
    margin: 5px 0;
}

.home .home-content a {
    display: inline-block;
    background: crimson;
    color: #fff;
    padding: 12px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}

.home .home-content a:hover {
    color: crimson;
    background: #fff;
}

/* section about me  */

section {
    padding: 50px 0;
}

.about {
    font-family: 'Poppins', sans-serif;
}

.about .title {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    padding-bottom: 30px;
}

/* petit plus? 37minutes 53 a voir */

.about .about-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.about .about-content .left {
    width: 45%;
}

.about .about-content .left .img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.about .about-content .right {
    width: 55%;
}

.about .about-content .right .text {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .about-content .right .text span {
    color: crimson;
}

.about .about-content .right p {
    text-align: justify;
}

.about .about-content .right a {
    font-weight: 500;
    display: inline-block;
    background: crimson;
    color: #fff;
    padding: 1px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}

.about .about-content .right a:hover {
    color: crimson;
    background: #fff;
}

/* section SKILLS */

.skills{
    font-family: 'Poppins', sans-serif;  
}
.skills .title{
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    padding-bottom: 30px;
}
.skills .title p{
    font-size: 25px;
    font-weight: 600;
    text-align: justify;
}

/* section mes outils */

.mesoutils a {
    color: crimson;
    padding-bottom: 4em;
}

.mesoutils a:hover {
    color: black;
    padding-bottom: 4%;
}

/* section projets */

.projets .card {
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    cursor: pointer;
}

.projets .card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.projets .card .card-img-top{
    width: 100%;
    height: auto;
    object-fit: contain;
}


/* footer */

.container .row {
    font-family: 'Ubuntu', sans-serif;
}

.container a {
    color: black;
}
.container a:hover{
    color: crimson;
}
.scroll-up-btn{
    position:fixed;
    height: 45px;
    width: 42px;
    background: crimson;
    right: 30px;
    bottom:30px;
    text-align: center;
    line-height: 45px;
    color:#fff,
    z-index: 9999;
    font-size:30px;
    border-radius:6px;
    cursor:pointer;
    opacity:0;
    pointer-events: none;
    transition:all 0.3S ease;
}
.scroll-up-btn.show{
    bottom:30px;
    opacity:1;
    pointer-events: auto;
}
/* responsive media query start */
@media (max-width: 1300px) {
    .home .max-width {
        margin-left: 0px;
    }
@media (max-width: 1104px) {
    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }
    }
    @media (max-width: 999px) {
        .home .max-width {
            padding: 0 50px
        }
        @media (max-width: 991px) {
            .max-width {
                padding: 0 50px;
            }
            .menu-btn {
                display: block;
                z-index: 999;
                text-align: center;
            }
            .navbar .menu {
                position: fixed;
                height: :100vh;
                width: 100%;
                left: -100%;
                top: 0;
                background: #111;
                text-align: center;
                padding-top: 80px;
                transition: all 0.3s ease;
            }
            .navbar .menu.active {
                left: 0;
                transition: all 0.5s ease;
            }
            .navbar .menu li {
                display: block;
            }
            .navbar .menu li a {
                display: inline-block;
                margin: 20px 0;
                font-size: 25px;
            }
            .navbar .menu li a:hover {
                color: crimson;
            }
            .home .home-content .text-2 {
                font-size: 70px;
            }
            .home .home-content .text-3 {
                font-size: 35px;
            }
            .about .about-content .column{
                width: 50%;
            }
            .about .about-content .left{
                display: flex;
                justify-content: center;
                margin: 0 auto 60px;
            }
            .about .about-content .right{
                text-align: left;
                flex: 100%;
            }
        }
        @media (max-width: 690px) {
            .max-width {
                padding: 0 18px;
            }
            .home .home-content .text-2 {
                font-size: 60px;
            }
            .home .home-content .text-3 {
                font-size: 32px;
            }
            .home .home-content .text-3 span {
                color: crimson;
                font-weight: 500;
            }
            .home .home-content a {
                display: inline-block;
                background: crimson;
                color: #fff;
                padding: 12px;
                margin-top: 20px;
                border-radius: 6px;
                border: 2px solid crimson;
                transition: all 0.3s ease;
            }
        }